body {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1501686637-b7aa9c48a882?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFieSUyMHBsYXlpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60");
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  font-size: 50px;
  color: #00b4d8;
}
h2 {
  color: #9b5de5;
}
p {
  color: #f15bb5;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
phone {
  font-size: 30px;
  color: #9b5de5;
}
email {
  font-size: 30px;
  color: #9b5de5;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  height: 80%;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.foot {
  color: #fee440;
}
/* img {
  max-height: 500px;
} */
